{% extends "admin/auth_partials/layout.njk" %}

{% block body %}
<div class="page-content--bge5"> 
      <div class="login-wrap login-page">
        <div class="login-left"><img src="/admin/images/icon/logo.png" alt="Logo"></div>
         <div class="login-right">
      <div class="login-content">		  
			  <div class="login-form">
          <form id="resetPasswordForm" role="form" method="post" action="/resetPassword?id=">            
              <div class="form-group">
                <label for="newPassword">New Password</label>
                <div>
                  <input type="password" placeholder="Enter New Password" class="form-control" name="newPassword" id="newPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,20}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 to 20 characters">
                </div>
              </div>
              <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <div>
                  <input type="password" placeholder="Enter Confirm Password" class="form-control" name="confirmPassword" id="confirmPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,20}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 to 20 characters">
                </div>
              </div>
            <div class="box-footer">
              <button type="submit" class="btn btn-warning">Change Password</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
</div>
{% endblock %}

{% block script %}
<script>
  $(document).ready(function(){

  	var tmp = window.location.href;
    console.log("ter",tmp);
    
    if (tmp && tmp.length) {
      url = tmp.split("=");
      console.log("url",url[1]);
      var tempp = url[1];
      tmp2 = tmp[0].replace('?id=','');
     
      
      console.log("tmp",tmp2);
      
      $("#resetPasswordForm").attr('action','/resetPassword?id='+tempp);
    }
    
    $("#resetPasswordForm").validate({
      rules:{
        newPassword : {
          required : true,
          rangelength: [8, 20],
         },
        confirmPassword : {
          required : true,
          equalTo:"#newPassword",
          rangelength: [8, 20]
        }
      },
      messages:{
        newPassword : {
          required : "Please enter new password",
          rangelength:"New password length should be between 8 to 20 characters",
        },
        confirmPassword : {
          required : "Please enter confirm password",
          equalTo:"Confirm password not matched with new password",
          rangelength:"Confirm password length should be between 8 to 20 characters"
        }
      }
    });
  });
</script>
{% endblock %}