<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/web/images/favicon.ico">
    <title>{{settings.site_name}} | {{title}}</title>
    <link rel="stylesheet" href="/web/css/bootstrap.min.css">
    <link rel="stylesheet" href="/web/css/font-awesome.min.css">
    <link rel="stylesheet" href="/web/css/slick.css">
    <link rel="stylesheet" href="/web/css/toastr.min.css">
    <link rel="stylesheet" href="/web/css/bootstrap-datetimepicker.min.css">
    <!-- <link rel="stylesheet" href="/web/css/emojionearea.min.css"> -->
    <!-- <link rel="stylesheet" href="https://cdn.rawgit.com/mervick/emojionearea/master/dist/emojionearea.min.css"> -->
    <!-- Range slider -->
    <link rel="stylesheet" href="/web/css/nouislider.min.css">
    <link rel="stylesheet" href="/web/css/style.css">
    
</head>