{% extends "admin/partials/layout.njk" %}

{% block style %}
    <link href="/admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="/admin/css/dataTables.bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- DATA TABLE -->
                <div class="table-data__tool">
                    <div class="table-data__tool-left">
                        <h3 class="title-5 m-b-35">{{title}}</h3>
                    </div>
                </div>
                <div class="table-responsive table-responsive-data2">
                    <table id="example" class="table table-data2 table-striped">
                        <thead>
                            <tr>
                                <th>User Name</th>
                                <th>Image</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>  
                    </table>
                </div>
                <!-- END DATA TABLE -->
            </div>
        </div>
     
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <p>Copyright © 2020-2021 <a href="/admin/dashboard">{{config.siteName}}</a>. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}

<script src="/admin/js/jquery-3.3.1.js"></script>
<script src="/admin/js/jquery.dataTables.min.js"></script>
<script src="/admin/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">

 $(document).ready(function() {
    let host = window.location.origin;
    let table;
    let url = host+'/admin/userImageList';
    
    let i =1;
    table = $('#example').DataTable({
    "language": {
                "sSearch": "Search",
                "searchPlaceholder": "Username"
    },
    "processing": true,
    "serverSide": true,
    "ordering": false,
    "autoWidth": false,
    "scrollX": true,
    "pageLength": 10,
    "ajax": url,
    "ajax": {
        "url": url,
        "type": "POST",
    },
    "columns": [
        { "data": "username" , 
                render : function(data, type, row){
                console.log('row: ',row);
                let tmp = (row.deleted) ? ' [ <b style="color: red;"> Deleted </b> ]' : '';
                let html_button = row.username + tmp;
                return html_button;
            }
        },
        { "data": "path" },
        { "data": "Action" , 
                render : function(data, type, row){
                let html_button = '<div class="table-data-feature">';
                html_button += '<a href="/admin/userImage/edit/'+row._id+'"><button type="button" class="item" name="edit" id="Edit" title="Edit" data-toggle="tooltip" data-placement="top"> <i class="zmdi zmdi-eye"></i> </button></a>&nbsp;';
                html_button+='</div>';
                return html_button;
            }
        }
    ]
    });
  });

</script>

{% endblock %}