{% extends "admin/partials/layout.njk" %}

{% block style %}
    <link href="/admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="/admin/css/dataTables.bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- DATA TABLE -->
                <div class="table-data__tool">
                    <div class="table-data__tool-left">
                        <h3 class="title-5 m-b-35">{{title}}</h3>
                    </div>
                </div>
                <div class="table-responsive table-responsive-data2">
                    <table id="example" class="table table-data2">
                        <thead>
                            <tr>
                                  <th>Title</th>
                                  <th>Description</th>
                                  <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cmsPageList in cmspages %}
                                  <tr class="tr-shadow">
                                      <td>{{cmsPageList.title}}</td>
                                      <td>{{cmsPageList.description}}</td>
                                      <td>
                                          <div class="table-data-feature">
                                              <a href="/admin/cmspages/edit/{{cmsPageList._id}}"><button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                                  <i class="zmdi zmdi-edit"></i>
                                              </button></a>
                                              <a href="#" id="deleteRecord" class="{{cmsPageList._id}}"><button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                  <i class="zmdi zmdi-delete"></i>
                                              </button></a>
                                          </div>
                                      </td>
                                  </tr>
                                  {% endfor %} 
                        </tbody>  
                    </table>
                </div>
                <!-- END DATA TABLE -->
            </div>
        </div>
     
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <p>Copyright © 2020-2021 <a href="/admin/dashboard">{{settingDetail.site_name}}</a>. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="/admin/js/sweetalert.min.js"></script>
<script type="text/javascript">
$('#deleteRecord').live('click', function(e) {
  e.preventDefault();
  var cmsPageId = $(this).attr('class');
  swal({
    title: "Are you sure?",
    text: "Once deleted, you will not be able to recover this cmspage!",
    icon: "warning",
    buttons: true,
    dangerMode: true,
  })
  .then((willDelete) => {
    if (willDelete) {
       window.location.href = "/admin/cmspages/delete/"+cmsPageId;
    } else {
      swal("CMS Page safe!");
    }
  });
});
</script>

<script src="/admin/js/jquery-3.3.1.js"></script>
<script src="/admin/js/jquery.dataTables.min.js"></script>
<script src="/admin/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#example').DataTable();
} );
</script>

{% endblock %}