{% extends "admin/partials/layout.njk" %} 

{% block body %}
 <div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <form action="{{ config.baseUrl }}admin/subscription/addSubscription" method="post" class="form-horizontal" id="supportPageForm">    
                    <div class="card">
                        <div class="card-header">
                            <strong>Add Subscription Plan</strong>
                        </div>
                        <div class="card-body card-block">
                            <div class="row form-group">
                                <div class="col col-md-2">
                                    <label for="planName" class=" form-control-label">Plan Name</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="text" id="planName" name="planName"  placeholder="Enter Plan Name" class="form-control" value="">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-2">
                                    <label for="planType">Plan Type:</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <select id="planType" name="planType">
                                        <option value="">Select Plan</option>
                                        <option value="premium">Premium</option>
                                        <option value="getlist">Get List</option>
                                        <option value="getboost">Get Boost</option>
                                    </select>
                                </div>
                            </div>
                           
                            <div class="row form-group">
                                <div class="col col-md-2">
                                    <label for="durationType">Duration Type:</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <select id="durationType" name="durationType">
                                        <option value="">Select Duration Type</option>
                                        <option value="none">none</option>
                                        <option value="monthly">Monthly</option>
                                        <option value="yearly">Yearly</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col col-md-2">
                                    <label for="type">Duration</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="number" id="duration" name="duration"  placeholder="Enter Time Duration" class="form-control">
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col col-md-2">
                                    <label for="status" class=" form-control-label">Status</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    Active : <input type="radio" name="status" value="true">
                                    Inactive : <input type="radio" name="status" value="false">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-2">
                                    <label for="discount" class=" form-control-label">Discount</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="number" id="discount" name="discount"  placeholder="Enter Discount Offer" class="form-control" value="">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-2">
                                    <label for="price" class=" form-control-label">Price</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="number" id="price" name="price"  placeholder="Enter Price" class="form-control" value="">
                                </div>
                            </div>

                        </div>

                        <!-- Benefits -->
                        <div class="card-header">
                            <strong>Add Benefits</strong>
                        </div>
                        <div class="card-body card-block">
                            <div class="row form-group">
                                <div class="col col-md-2">
                                    <label for="status" class=" form-control-label">Status</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="checkbox" name="viewMatchedDaters" value="true"> View Matched Daters<br>
                                    <input type="checkbox" name="chatWithDaters" value="true"> Chat With Daters<br>
                                    <input type="checkbox" name="canDoVideoChat" value="true"> Can Do Video Chat<br>
                                    <input type="checkbox" name="privacyEnabled" value="true"> Privacy Mode is Enable<br>
                                    <input type="checkbox" name="turnOffAds" value="true"> Turn Off Ads<br>
                                    <input type="checkbox" name="boostMonth" value="true"> One Boost For Every Month<br>
                                    <input type="checkbox" name="unlimitedLikes" value="true"> Unlimited Likes<br>
                                    <input type="checkbox" name="increaseLikes" value="true"> Increase Likes<br>
                                    <input type="checkbox" name="seeMorePeople" value="true"> See More People<br>
                                    <input type="checkbox" name="seeAllQueAns" value="true"> See All Questions & Answers<br>
                                    <input type="checkbox" name="allAlistBasic" value="true"> All a List Basic Features<br>
                                    <input type="checkbox" name="increaseLikesUpto" value="true"> Increase Likes Upto<br>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary btn-sm">
                                <i class="fa fa-dot-circle-o"></i> Add Plan
                            </button>
                             <a href="/admin/subscription"><button type="reset" class="btn btn-danger btn-sm">
                                  <i class="fa fa-arrow-left"></i> Back
                            </button></a>
                        </div>
                    </div>
                </form>   
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <p>Copyright © 2020-2021 <a href="/admin/dashboard">{{settings.site_name}}</a>. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="/admin/js/editor.js"></script>
<script>
  $(document).ready(function(){
    $("#supportPageForm").validate({
        rules:{
            planName : {
              required : true
            },
            planType: {
                required : true
            },
            status: {
                required : true
            },
            discount: {
                required : true
            },
            durationType: {
                required : true
            },
            duration: {
                required : true
            },
            price: {
                required : true
            }
        },
        messages:{
            planName : {
              required : "Please Enter Plan Name"
            },
            planType: {
                required : "Please Enter Plan Type"
            },
            status: {
                required : "Please Select Status"
            },
            discount: {
                required : "Please Enter Discount"
            },
            durationType: {
                required : "Please Enter Duration Type"
            },
            durationType: {
                required : "Please Enter Duration"
            },
            price: {
                required : "Please Enter Price"
            }
        }
    });
  });

    // [ Active - Inactive ]
    

</script>
{% endblock %}