{% extends "web/partation/layout.html" %}

    {% block body %}
    <!-- mid part start -->
    <div class="mid-part">
        <div class="container">
            <!-- profile tab start --> 
            <div class="addQues"></div>
            <!-- profile tab end --> 
        </div>
    </div>
    <!-- mid part end -->
    <!-- footer start -->
  
    <!-- footer end -->
    <!-- go premium modal start -->
    <!-- <div class="go-premium-modal modal fade " id="go-premium-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="flava-close"></i></span></button>
                </div>
                <div class="modal-body">
                    <div class="go-premium-tab">
                        <ul class="nav nav-pills" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="premium-tab" data-toggle="pill" href="#premium" role="tab" aria-controls="premium" aria-selected="true">premium</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="get-list-tab" data-toggle="pill" href="#get-list" role="tab" aria-controls="get-list" aria-selected="false">get a list</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="get-boost-tab" data-toggle="pill" href="#get-boost" role="tab" aria-controls="get-boost" aria-selected="false">get boost</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="premium" role="tabpanel" aria-labelledby="premium-tab">
                                <div class="go-premium-row">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="go-premium-box">
                                                <div class="purpal-bdr"></div>
                                                <div class="gpb-content">
                                                    <div class="month">6 <span>Month</span></div>
                                                    <div class="price">$300.00</div>
                                                    <a href="#" class="subscribe">subscribe</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="go-premium-box">
                                                <div class="purpal-bdr"></div>
                                                <div class="gpb-content">
                                                    <div class="month">3 <span>Month</span></div>
                                                    <div class="price">$190.00</div>
                                                    <a href="#" class="subscribe">subscribe</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="go-premium-box">
                                                <div class="purpal-bdr"></div>
                                                <div class="gpb-content">
                                                    <div class="month">1 <span>Month</span></div>
                                                    <div class="price">$80.00</div>
                                                    <a href="#" class="subscribe">subscribe</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <ul class="benefits-ul">
                                        <li>Benefits</li>
                                        <li>View matched daters</li>
                                        <li>Chat with daters</li>
                                        <li>Can do video chat</li>
                                        <li>Privacy mode is enable</li>
                                        <li>Turn off ads</li>
                                        <li>1 boost free every month</li>
                                        <li>Unlimited likes</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="get-list" role="tabpanel" aria-labelledby="get-list-tab">
                                <div class="go-premium-row">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="go-premium-box">
                                                <div class="purpal-bdr"></div>
                                                <div class="gpb-content">
                                                    <div class="month">6 <span>Month</span></div>
                                                    <div class="price">$250.00</div>
                                                    <a href="#" class="subscribe">subscribe</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="go-premium-box">
                                                <div class="purpal-bdr"></div>
                                                <div class="gpb-content">
                                                    <div class="month">3 <span>Month</span></div>
                                                    <div class="price">$125.00</div>
                                                    <a href="#" class="subscribe">subscribe</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="go-premium-box">
                                                <div class="purpal-bdr"></div>
                                                <div class="gpb-content">
                                                    <div class="month">1 <span>Month</span></div>
                                                    <div class="price">$45.00</div>
                                                    <a href="#" class="subscribe">subscribe</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <ul class="benefits-ul">
                                        <li>Benefits</li>
                                        <li>Increase likes</li>
                                        <li>See more people</li>
                                        <li>See all questions and answers</li>
                                        <li>All a list basic features</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="get-boost" role="tabpanel" aria-labelledby="get-boost-tab">
                                <div class="go-premium-row">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="go-premium-box">
                                                <div class="purpal-bdr"></div>
                                                <div class="gpb-content">
                                                    <div class="month">6 <span>Month</span></div>
                                                    <div class="price">$325.00</div>
                                                    <a href="#" class="subscribe">subscribe</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="go-premium-box">
                                                <div class="purpal-bdr"></div>
                                                <div class="gpb-content">
                                                    <div class="month">3 <span>Month</span></div>
                                                    <div class="price">$165.00</div>
                                                    <a href="#" class="subscribe">subscribe</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="go-premium-box">
                                                <div class="purpal-bdr"></div>
                                                <div class="gpb-content">
                                                    <div class="month">1 <span>Month</span></div>
                                                    <div class="price">$55.00</div>
                                                    <a href="#" class="subscribe">subscribe</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <ul class="benefits-ul">
                                        <li>Benefits</li>
                                        <li>Increase likes upto 5 times</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    {% endblock %}

    {% block Jscript %}
  
    <!-- go premium modal end -->
  

    <!-- search resula -->
    <script>
     $('.search-resulat-scroll').slimScroll({
            height: '150px',
             railColor: '#fff',
             color: '#ba9c4c',
            alwaysVisible: true,
            railOpacity:0.9,
            });
    </script>
    <!-- search resula -->

    <!-- datetime picker -->
    <script>

        let host = window.location.origin;
        function getData(){
            $.ajax({
                url: "/api/userAnswer/getMatchQues",
                type: 'POST',
                headers: { 'token': token },
                data:{
                'userId': userId
                },
                success: function(result){
                    if (result.status == 'success'){
                        console.log("result: ",result);
                        htmlcode(result);
                    } else {
                        console.log("result: fail :: ",result);
                      //  window.location = '/home';
                    }
                }
            });
        }
        function getQue(userid, callback) {
            return $.ajax({
                url: "/api/userAnswer/getMatchQues",
                type: 'POST',
                cache: false,
                headers: { 'token': token },
                data: {
                    'userId': userid
                },       
                success: function (result) {
                    if (result.status == 'success') {
                        console.log("result:>>> ", result);
                        htmlcode(result);
                    } else {
                        console.log("result: fail :: ", result);
                        //  window.location = '/home';
                    }
                }
        })
        .done(callback)
        .fail(function(jqXHR, textStatus, errorThrown) {
            // Handle error
        });
    }
        function htmlcode(result) {

            let html = ' <div class="profile-tab match-question">\
                <ul class="nav nav-tabs" id="myTab" role="tablist">\
                    <li class="highest-match">\
                       <div class="percentage">80.5%</div>\
                       Highest match possible\
                    </li>\
                    <li class="nav-item">';
                         var templen=[];
                         if(result.data.unAnswerData){
                            for(let t=0;t<result.data.unAnswerData.length;t++){ 
                                templen.push(result.data.unAnswerData[t]);   
                            }
                         }
                        html+='<a class="nav-link active" data-toggle="tab" href="#public" role="tab" aria-controls="public">Public <span class="notification">'+templen.length+'</span></a>\
                    </li>\
                    <li class="nav-item">\
                        <a class="nav-link" data-toggle="tab" href="#private" role="tab" aria-controls="private">Private <span class="notification">0</span></a>\
                    </li>\
                    <li class="nav-item">';
                        var checklen=[];
                        if(result.data.reAnsCompareData){
                            for(let d=0;d<result.data.reAnsCompareData.length;d++){ 
                                        if(result.data.reAnsCompareData[d].isSkipped == true){
                                                checklen.push(result.data.reAnsCompareData[d]);
                                        }
                            }
                        }
                        html+='<a class="nav-link" data-toggle="tab" href="#skipped" role="tab" aria-controls="skipped">Skipped <span class="notification">'+checklen.length+'</span></a>\
                    </li>\
                </ul>\
                <div class="tab-content">\
                    <!-- Basic Information start -->\
                    <div class="tab-pane active" id="public" role="tabpanel">\
                        <div class="public-tab">\
                            <div class="public-tab-col">\
                                <div class="ptc-title">Unanswered Questions</div>';
                             if(result.data.queAnsData){
                                html+='<div class="ptc-question que-'+result.data.queAnsData._id+'">\
                                    <div class="question Unanswer1">'+result.data.queAnsData.que+' ?</div>\
                                    <div class="yesNo-answer">\
                                        <div  class="ya-col">';
                                    for(let i=0;i<result.data.queAnsData.ans.length;i++){
                                        html+='<div class="custom-radio">\
                                            <input type="hidden" id="getid" value="'+result.data.queAnsData._id+'">\
                                            <input type="radio" class="custom-control-input checkAns" name="1-'+result.data.queAnsData._id+'" value="'+result.data.queAnsData.ans[i]+'" id="'+result.data.queAnsData.ans[i]+'">\
                                            <label class="custom-control-label" for="'+result.data.queAnsData.ans[i]+'">'+result.data.queAnsData.ans[i]+'</label>\
                                        </div>';
                                    }
                                     
                                        html+='</div>\
                                        <div class="ya-col ideal">\
                                            <div class="ideal-title">ideal</div>';
                                            for(let i=0;i<result.data.queAnsData.ans.length;i++){
                                            html+='<div class="custom-checkbox">\
                                                <input type="hidden" id="getid" value="'+result.data.queAnsData._id+'">\
                                                <input type="checkbox" class="custom-control-input checkAnswer" name="2-'+result.data.queAnsData._id+'" id="'+i+''+result.data.queAnsData.ans[i]+'" value="'+result.data.queAnsData.ans[i]+'">\
                                                <label class="custom-control-label" for="'+i+''+result.data.queAnsData.ans[i]+'">'+result.data.queAnsData.ans[i]+'</label>\
                                            </div>';
                                        }
                                        html+='</div>\
                                    </div>\
                                     <ul class="ans-skip">\
                                        <li><a href="#" id="'+result.data.queAnsData._id+'" class="answer ansOne">Answer</a></li>\
                                    <li><a href="#" id="'+result.data.queAnsData._id+'" class="skip skipAns">Skip</a></li>\
                                    </ul>\
                                </div>';
                                }
                            html+='</div>\
                            <div class="public-tab-col">\
                                <div class="ptc-title">Answered Questions</div>';
                            if(result.data.reAnswerData[0])
                            {
                                for(let j=0;j<result.data.reAnswerData[0].queData.length;j++){
                                html+='<div class="public-tab-col picid-'+result.data.reAnswerData[0].queData[j]._id+'">\
                                <div class="ptc-question picclass">\
                                    <div class="question">'+result.data.reAnswerData[0].queData[j].que+'</div>\
                                    <div class="yesNo-answer">';   
                                     for(let a=0;a<result.data.reAnswerData[0].queData[j].ans.length;a++){
                                         for(let d=0;d<result.data.reAnsCompareData.length;d++){         
                                         if(result.data.reAnsCompareData[d].queId == result.data.reAnswerData[0].queData[j]._id){
                                             if(result.data.reAnsCompareData[d].ans == result.data.reAnswerData[0].queData[j].ans[a]){
                                                    html+='<div class="custom-checkbox">\
                                                    <input type="hidden" id="getIDS" value="'+result.data.reAnswerData[0].queData[j]._id+'">\
                                                    <input type="radio" class="custom-control-input" name="3-'+result.data.reAnswerData[0].queData[j]._id+'" value="'+result.data.reAnswerData[0].queData[j].ans[a]+'" id="yes-'+d+''+result.data.reAnsCompareData[d].ans+'" checked>\
                                                    <label class="custom-control-label" for="yes-'+d+''+result.data.reAnsCompareData[d].ans+'">'+result.data.reAnswerData[0].queData[j].ans[a]+'</label>\
                                                </div>';
                                             }else{ 
                                                    html+='<div class="custom-checkbox">\
                                                    <input type="hidden" id="getIDS" value="'+result.data.reAnswerData[0].queData[j]._id+'">\
                                                    <input type="radio" class="custom-control-input" name="3-'+result.data.reAnswerData[0].queData[j]._id+'" value="'+result.data.reAnswerData[0].queData[j].ans[a]+'" id="yes-'+d+j+''+result.data.reAnswerData[0].queData[j].ans[a]+'">\
                                                    <label class="custom-control-label" for="yes-'+d+j+''+result.data.reAnswerData[0].queData[j].ans[a]+'">'+result.data.reAnswerData[0].queData[j].ans[a]+'</label>\
                                                </div>';
                                             }
                                           
                                        }
                                     }
                                    }
                                    html+='<div class="ya-col ideal">\
                                            <div class="ideal-title">Ideal Person</div>';
                                        for(let a=0;a<result.data.reAnswerData[0].queData[j].ans.length;a++){    
                                            


                                            for(let d=0;d<result.data.reAnsCompareData.length;d++){   

                                             if(result.data.reAnsCompareData[d].queId == result.data.reAnswerData[0].queData[j]._id){

                                                let ch = '';

                                                if(result.data.reAnsCompareData[d].oppAns.includes(result.data.reAnswerData[0].queData[j].ans[a])){

                                                    ch = 'checked';
                                                }

                                                if(ch == 'checked'){
                                                    html+='<div class="custom-checkbox">\
                                                        <input type="hidden" id="getIDS" value="'+result.data.reAnswerData[0].queData[j]._id+'">\
                                                        <input type="checkbox" class="custom-control-input" name="4-'+result.data.reAnswerData[0].queData[j]._id+'" value="'+result.data.reAnswerData[0].queData[j].ans[a]+'" id="'+result.data.reAnswerData[0].queData[j].ans[a]+''+a+'" '+ch+'>\
                                                        <label class="custom-control-label" for="'+result.data.reAnswerData[0].queData[j].ans[a]+''+a+'">'+result.data.reAnswerData[0].queData[j].ans[a]+'</label>\
                                                    </div>';
                                                } else {

                                                    html+='<div class="custom-checkbox">\
                                                        <input type="hidden" id="getIDS" value="'+result.data.reAnswerData[0].queData[j]._id+'">\
                                                        <input type="checkbox" class="custom-control-input" name="4-'+result.data.reAnswerData[0].queData[j]._id+'" value="'+result.data.reAnswerData[0].queData[j].ans[a]+'" id="'+result.data.reAnswerData[0].queData[j].ans[a]+''+a+''+j+'" '+ch+'>\
                                                        <label class="custom-control-label" for="'+result.data.reAnswerData[0].queData[j].ans[a]+''+a+''+j+'">'+result.data.reAnswerData[0].queData[j].ans[a]+'</label>\
                                                    </div>';
                                                }
                                               
                                            }
                                         }

                                        }
                                        html+='</div>\
                                    </div>\
                                    <ul class="ans-skip">\
                                        <li><a href="#" id="'+result.data.reAnswerData[0].queData[j]._id+'" value="'+result.data.reAnswerData[0].queData[j]._id+'" class="reAnswer">re-answer</a></li>\
                                    </ul>\
                                </div>\
                            </div>';
                        }
                    }
                        html+='</div>\
                    </div>\
                </div>\
            <div class="tab-pane " id="private" role="tabpanel">\
                        <div class="private">\
                            <div class="public-tab">\
                            <div class="public-tab-col">\
                                <div class="ptc-title">Unanswered Questions</div>\
                                <div class="ptc-question">\
                                    <div class="question"></div>\
                                    <ul class="ans-skip">\
                                        <li><a href="#" class="answer">Answer</a></li>\
                                        <li><a href="#" class="skip">Skip</a></li>\
                                    </ul>\
                                </div>\
                            </div>\
                        </div>\
                        </div>\
                    </div>\
                    <!-- Additional Information end -->\
                    <div class="tab-pane " id="skipped" role="tabpanel">\
                        <div class="skipped">\
                            <div class="private">\
                            <div class="public-tab">\
                                <div class="public-tab-col">\
                                <div class="ptc-title">Skip Questions</div>';
                                if(result.data.reAnsCompareData){
                                for(let d=0;d<result.data.reAnsCompareData.length;d++){ 
                                    if(result.data.reAnsCompareData[d].isSkipped == true){
                                        for(let j=0;j<result.data.reAnswerData[0].queData.length;j++){
                                            if(result.data.reAnsCompareData[d].queId == result.data.reAnswerData[0].queData[j]._id){
                                                html+='<div class="public-tab-col skipid-'+result.data.reAnswerData[0].queData[j]._id+'">\
                                                <div class="ptc-question picclass">\
                                                    <div class="question">'+result.data.reAnswerData[0].queData[j].que+'</div>\
                                                    <div class="yesNo-answer">';
                                                    console.log("result.data.reAnswerData[0].queData[j].ans.length",result.data.reAnswerData[0].queData[j].ans.length);
                                                        
                                            for(let a=0;a<result.data.reAnswerData[0].queData[j].ans.length;a++){
                                                // for(let d=0;d<result.data.reAnsCompareData.length;d++){         
                                                // if(result.data.reAnsCompareData[d].queId == result.data.reAnswerData[0].queData[j]._id){
                                                    // if(result.data.reAnsCompareData[d].ans == result.data.reAnswerData[0].queData[j].ans[a]){
                                                    //         html+='<div class="custom-checkbox">\
                                                    //         <input type="hidden" id="getIDS" value="'+result.data.reAnswerData[0].queData[j]._id+'">\
                                                    //         <input type="radio" class="custom-control-input" name="3-'+result.data.reAnswerData[0].queData[j]._id+'" value="'+result.data.reAnswerData[0].queData[j].ans[a]+'" id="yes-'+d+''+result.data.reAnsCompareData[d].ans+'" checked>\
                                                    //         <label class="custom-control-label" for="yes-'+d+''+result.data.reAnsCompareData[d].ans+'">'+result.data.reAnswerData[0].queData[j].ans[a]+'</label>\
                                                    //     </div>';
                                                    // }else{ 
                                                            html+='<div class="custom-checkbox">\
                                                            <input type="hidden" id="getQuesID" value="'+result.data.reAnswerData[0].queData[j]._id+'">\
                                                            <input type="radio" class="custom-control-input" name="5-'+result.data.reAnswerData[0].queData[j]._id+'" value="'+result.data.reAnswerData[0].queData[j].ans[a]+'" id="ansyes-'+d+j+''+result.data.reAnswerData[0].queData[j].ans[a]+'">\
                                                            <label class="custom-control-label" for="ansyes-'+d+j+''+result.data.reAnswerData[0].queData[j].ans[a]+'">'+result.data.reAnswerData[0].queData[j].ans[a]+'</label>\
                                                        </div>';
                                                    // }
                                                
                                                // }
                                            // }
                                            }
                                            html+='<div class="ya-col ideal">\
                                                    <div class="ideal-title">Ideal Person</div>';
                                                for(let a=0;a<result.data.reAnswerData[0].queData[j].ans.length;a++){   
                                                    if(result.data.reAnsCompareData[d].queId == result.data.reAnswerData[0].queData[j]._id){ 
                                                    html+='<div class="custom-checkbox">\
                                                        <input type="hidden" id="getQuesID" value="'+result.data.reAnswerData[0].queData[j]._id+'">\
                                                        <input type="checkbox" class="custom-control-input" name="6-'+result.data.reAnswerData[0].queData[j]._id+'" value="'+result.data.reAnswerData[0].queData[j].ans[a]+'" id="ansno-'+result.data.reAnswerData[0].queData[j].ans[a]+''+a+''+j+'">\
                                                        <label class="custom-control-label" for="ansno-'+result.data.reAnswerData[0].queData[j].ans[a]+''+a+''+j+'">'+result.data.reAnswerData[0].queData[j].ans[a]+'</label>\
                                                    </div>';
                                                }
                                            }
                                                html+='</div>\
                                            </div>\
                                            <ul class="ans-skip">\
                                                <li><a href="#" id="'+result.data.reAnswerData[0].queData[j]._id+'" value="'+result.data.reAnswerData[0].queData[j]._id+'" class="reAnswerSkip">Answer</a></li>\
                                            </ul>\
                                        </div>\
                                    </div>';
                                }
                                // html+='</div>';
                            }
                        }
                    }
                 }
                    html+='</div>\
                            </div>\
                            </div>\
                        </div>\
                        </div>\
                        </div>\
                    </div>\
                </div>\
            </div>';
           
            $(".addQues").html(html); 
            $('.showAnsOne').hide();
            $('body').on('click', ' .ansOne', function(e){
                e.preventDefault();
                $('.showAnsOne').show();
                
            });  
            //   $("#quesID").find('option:selected').attr("name")
            //  queId = $("#quesID").val();
            //  console.log("let queId",queId);
             
        }
        

    $(function() {
        // $('#datetimepicker').datetimepicker({
        //     format: 'DD/MM/YYYY',
        //     // debug: true
        // });
       
        getData();
    });

    $('body').on('click', ' .ansOne', function(e){
            // $('.too').hide();
            // $('.from').show(); 
            e.preventDefault();
           let queId = $(this).attr('id');
            // let ans = $(this).attr('id');
            // console.log("ans",ans);
           
            var checkvalue;
                $.each($("input[name="+'1-'+queId+"]:checked"), function(){            
                    checkvalue =$(this).val();
                });

            var checkvalue2 = [];
                $.each($("input[name="+'2-'+queId+"]"), function(){            
                    checkvalue2.push($(this).val());
                });
                 console.log("cec",checkvalue,checkvalue2);
                
                $.ajax({
                    url: "/api/userAnswer/addAnswer",
                    type: 'POST',
                    headers: { 'token': token },
                    data:{
                    'userId': userId,
                    'ans':checkvalue,
                    'oppAns':checkvalue2,
                    'queId':queId,
                    'isSkipped':0,
                    'isPrivate': 0
                    },
                    success: function(result){
                        if (result.status == 'success'){
                           
                          //  window.location = '/matchQues';
                            getQue(userId, function(data) {
                                console.log("data99999999999999999999999",data); // Do what you want with the data returned
                                if (data.message == 'More question will comming soon') {
                                    window.location = '/home';
                                }
                            });
                        } else {
                            console.log("result: fail999999999999999 >>> ",result);
                            if (result.message == 'More question will comming soon') {
                                $('.que-'+queId).remove();
                                }
                          //  window.location = '/home';
                        }
                    }
                });
               
            
        });

        
        $('body').on('click', ' .reAnswer', function(e){
     
             e.preventDefault();
            let queId = $(this).attr('id');
         
            var checkvalue;
            var checkvalue;
                $.each($("input[name="+'3-'+queId+"]:checked"), function(){            
                    checkvalue =$(this).val();
                });

            var checkvalue2 = [];
                $.each($("input[name="+'4-'+queId+"]"), function(){            
                    checkvalue2.push($(this).val());
                });
                $.ajax({
                    url: "/api/userAnswer/addAnswer",
                    type: 'POST',
                    headers: { 'token': token },
                    data:{
                    'userId': userId,
                    'ans':checkvalue,
                    'oppAns':checkvalue2,
                    'queId':queId,
                    'isSkipped':0,
                    'isPrivate': 0
                    },
                    success: function(result){
                        if (result.status == 'success'){
                            console.log("result:  >>> ",result);
                             $('.picid-'+queId).remove();
               
                           // window.location = '/matchQues';
                        } else {
                            console.log("result: fail >>> ",result);
                          //  window.location = '/home';
                        }
                    }
                });
               
            
        });
           
        $('body').on('click', ' .reAnswerSkip', function(e){
             e.preventDefault();
            let queId = $(this).attr('id');
            var checkvalue;
            var checkvalue;
                $.each($("input[name="+'5-'+queId+"]:checked"), function(){            
                    checkvalue =$(this).val();
                });

            var checkvalue2 = [];
                $.each($("input[name="+'6-'+queId+"]"), function(){            
                    checkvalue2.push($(this).val());
                });

                $.ajax({
                    url: "/api/userAnswer/addAnswer",
                    type: 'POST',
                    headers: { 'token': token },
                    data:{
                    'userId': userId,
                    'ans':checkvalue,
                    'oppAns':checkvalue2,
                    'queId':queId,
                    'isSkipped':0,
                    'isPrivate': 0
                    },
                    success: function(result){
                        if (result.status == 'success'){
                            console.log("result:  >>> ",result);
                             $('.skipid-'+queId).remove();
               
                           // window.location = '/matchQues';
                        } else {
                            console.log("result: fail >>> ",result);
                          //  window.location = '/home';
                        }
                    }
                });
               
            
        });
        
        $('body').on('click', ' .skipAns', function(e){
                e.preventDefault();
                var checkvalue = [];
             
               let queId = $(this).attr('id');
                $.each($("input[name="+'1-'+queId+"]"), function(){            
                    checkvalue.push($(this).val());
                });
                $('.quesRemove').remove();
              
                $.ajax({
                    url: "/api/userAnswer/addAnswer",
                    type: 'POST',
                    headers: { 'token': token },
                    data:{
                    'isSkipped':1,
                    'userId': userId,
                    'ans':null,
                    'oppAns':checkvalue,
                    'queId':queId,
                    'isPrivate': 0
                    },
                    success: function(result){
                        if (result.status == 'success'){
                            console.log("result:  >>> ",result);
                            getQue(userId, function(data) {
                                console.log(">>>>>&&&>>>>> : ",data); // Do what you want with the data returned
                               console.log(">>>>>&&&>>>>> : ",data.message);
                                if (data.message == 'More questions are coming soon') {
                                     $('.que-'+queId).remove();
                                }
                            });
                            //window.location = '/matchQues';
                        } else {
                            console.log("result: fail >>> ",result);
                              if (result.message == 'More question will comming soon') {
                                $('.que-'+queId).remove();
                                }
                          //  window.location = '/home';
                        }
                    }
                });
               
                
            });

    </script>

    <!-- age range slider start -->
    <script>
    var select = document.getElementById('input-select');

    // Append the option elements
    for (var i = -20; i <= 40; i++) {

        var option = document.createElement("option");
        option.text = i;
        option.value = i;

        select.appendChild(option);
    }

    var html5Slider = document.getElementById('html5');

    noUiSlider.create(html5Slider, {
        start: [10, 30],
        connect: true,
        range: {
            'min': -20,
            'max': 40
        }
    });

    var inputNumber = document.getElementById('input-select2');

    html5Slider.noUiSlider.on('update', function (values, handle) {

        var value = values[handle];

        if (handle) {
            inputNumber.value = value;
        } else {
            select.value = Math.round(value);
        }
    });

    select.addEventListener('change', function () {
        html5Slider.noUiSlider.set([this.value, null]);
    });

    inputNumber.addEventListener('change', function () {
        html5Slider.noUiSlider.set([null, this.value]);
    });
    </script>
    <!-- age range slider end -->


<!-- distince -->
    <script>
        var rangeSlider = document.querySelector(".slider-range");

        noUiSlider.create(rangeSlider, {
        start: [50],
        connect: [true, false],
        step: 1,
        range: {
            min: [1],
            max: [250]
        }
        });

    /* begin Value  */
    var rangeSliderValueElement = document.querySelector(".slider-range-value");

    rangeSlider.noUiSlider.on("update", function(values, handle) {
    rangeSliderValueElement.innerHTML = values[handle];
    });
    /* end Value  */

    /* begin Tab */
    var handle = rangeSlider.querySelector(".noUi-handle");

    handle.setAttribute("tabindex", 0);

    handle.addEventListener("click", function() {
    this.focus();
    });

    handle.addEventListener("keydown", function(event) {
    var value = Number(rangeSlider.noUiSlider.get());

    switch (event.which) {
        case 37:
        rangeSlider.noUiSlider.set(value - 1);
        break;
        case 39:
        rangeSlider.noUiSlider.set(value + 1);
        break;
    }
    });
    </script>
    {% endblock %}

