{% extends "admin/partials/layout.njk" %}

{% block style %}
    <link href="/admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="/admin/css/dataTables.bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- DATA TABLE -->
                <div class="table-data__tool">
                    <div class="table-data__tool-left">
                        <h3 class="title-5 m-b-35">{{title}}</h3>
                    </div>
                </div>
                
                <div class="table-responsive table-responsive-data2">
                    <table id="example" class="table table-data2">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Total Dates</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>  
                    </table>
                </div>
                <!-- END DATA TABLE -->
            </div>
        </div>
     
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <p>Copyright © 2020-2021 <a href="/admin/dashboard">{{settings.site_name}}</a>. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="/admin/js/sweetalert.min.js"></script>
<script src="/admin/js/jquery-3.3.1.js"></script>
<script src="/admin/js/jquery.dataTables.min.js"></script>
<script src="/admin/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">

    $(document).ready(function() {
        let host = window.location.origin;
        let table;
        let url = host+'/admin/calendar/getCalendarList';
        
        let i =1;
        table = $('#example').DataTable({
           // "language": {
            //    "sSearch": "Search",
            //    "searchPlaceholder": "Date"
            //},

            "searching": false,
            "processing": true,
            "serverSide": true,
            "ordering": false,
            "scrollX": true,
            "autoWidth": false,
            "pageLength": 10,
            "ajax": url,
            "ajax": {
            "url": url, 
            "type": "POST",
            },
            "columns": [
            { "data" : "_id"},
            { "data" : "list"},
            { "data": "Action" , 
                render : function(data, type, row){

                    let tmp = ` <div class="table-data-feature" style="float:left;">
                                    <a href="/admin/calendar/view/`+row._id+`"><button class="item" data-toggle="tooltip" data-placement="top" title="View Date">
                                        <i class="zmdi zmdi-eye"></i>
                                    </button></a>&nbsp;
                                    <a href="#" id="deleteRecord" class="`+row._id+`"><button type="button" class="item" name="edit" id="Delete" title="Delete Date"><i class="zmdi zmdi-delete"></i> </button></a>&nbsp;
                                </div>`;

                    return tmp;
                    
                }
            }
            ]
        });
    });

    $('body').on('click', '#deleteRecord', function(e){
        e.preventDefault();
        var pfId = $(this).attr('class');
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this Record!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {
                window.location.href = "/admin/calendar/deleteMany/"+pfId;
            } else {
                swal("Field record is safe!");
            }
        });
    });
  </script>

{% endblock %}