<header class="header-desktop">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="header-wrap">
                <form class="form-header">
                </form>
                <div class="header-button">
                    <div class="noti-wrap">
                        <div class="noti__item js-item-menu">
                            <i class="zmdi zmdi-comment-more"></i>
                            <span class="quantity">1</span>
                            <div class="mess-dropdown js-dropdown">
                                <div class="mess__title">
                                    <p>You have 2 news message</p>
                                </div>
                                <div class="mess__item">
                                    <div class="image img-cir img-40">
                                        <img src="/admin/images/icon/avatar-06.jpg" alt="Michelle Moreno" />
                                    </div>
                                    <div class="content">
                                        <h6>Michelle Moreno</h6>
                                        <p>Have sent a photo</p>
                                        <span class="time">3 min ago</span>
                                    </div>
                                </div>
                                <div class="mess__item">
                                    <div class="image img-cir img-40">
                                        <img src="/admin/images/icon/avatar-01.jpg" alt="Diane Myers" />
                                    </div>
                                    <div class="content">
                                        <h6>Diane Myers</h6>
                                        <p>You are now connected on message</p>
                                        <span class="time">Yesterday</span>
                                    </div>
                                </div>
                                <div class="mess__footer">
                                    <a href="#">View all messages</a>
                                </div>
                            </div>
                        </div>
                        {# <div class="noti__item js-item-menu">
                            <i class="zmdi zmdi-email"></i>
                            <span class="quantity">{% if(userPendingAllEmailData.length > 0) %}  {{userPendingAllEmailData.length}} {% else %} 0 {% endif %}</span>
                            <div class="email-dropdown js-dropdown">
                                <div class="email__title">
                                    <p>You have {{userPendingAllEmailData.length}} New Emails</p>
                                </div>
                                {% for userLastThreeRecord in userPendingLastThreeRecord %}
                                <div class="email__item">
                                    <div class="image img-40 mailImage">
                                        <img src="/admin/images/icon/{{userLastThreeRecord.image}}" alt="Cynthia Harvey" />
                                    </div>
                                    <div class="content">
                                        <p class="userEmailText">{{userLastThreeRecord.message}}</p>
                                        <span>{{userLastThreeRecord.name}}, {{userLastThreeRecord.date}}</span>
                                    </div>
                                </div>
                                {% endfor %}
                                  <div class="email__footer">
                                    <a href="/admin/support">See all emails</a>
                                </div>
                            </div>
                        </div> #}
                    </div>
                    <div class="account-wrap">
                        <div class="account-item clearfix js-item-menu">
                            <div class="image imagewidthSet">
                                <img src="/admin/images/icon/{{session.admin.profilePic}}" alt="{{session.admin.name}}" />
                            </div>
                            <div class="content">
                                <a class="js-acc-btn" href="#">{{ session.admin.name}}</a>
                            </div>
                            <div class="account-dropdown js-dropdown">
                                <div class="info clearfix">
                                    <a href="/admin/profile">
                                        <div class="image imagewidthSet">
                                                <img src="/admin/images/icon/{{session.admin.profilePic}}" alt="{{ session.admin.name}}" />
                                        </div>
                                        <div class="content">
                                            <h5 class="name">
                                               {{ session.admin.name}}
                                            </h5>
                                            <span class="email">{{ session.admin.email}}</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="account-dropdown__body">
                                    <div class="account-dropdown__item">
                                        <a href="/admin/profile">
                                            <i class="zmdi zmdi-account"></i>Account</a>
                                    </div>
                                    <div class="account-dropdown__item">
                                        <a href="/admin/setting">
                                            <i class="zmdi zmdi-settings"></i>Setting</a>
                                    </div>
                                </div>
                                <div class="account-dropdown__footer">
                                    <a href="/admin/logout">
                                        <i class="zmdi zmdi-power"></i>Logout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
