{% extends "web/partation/layout.html" %}

    {% block body %}
<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="images/favicon.ico">
    <title>Easy Date</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
</head> -->

<body>
    <!-- header start -->
    <!-- <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="index.html"><img src="images/logo.jpg" alt=""></a>
                <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
                    <span> </span>
                    <span> </span>
                    <span> </span>
                </button>
                <div class="collapse navbar-collapse" id="collapsingNavbar">
                    <ul class="navbar-nav ">
                        <li class="nav-item active"><a class="nav-link" href="#">Explore Easy Date</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">discover Easy Date</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">flava likes</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">messages</a></li>
                        <li class="go-premium-mob"><a href="#" class="go-premium">go premium</a></li>
                    </ul>
                </div>
                <div class="header-right">
                    <div class="dropdown notification">
                        <a class="btn dropdown-toggle" data-toggle="dropdown"><i class="flava-notification"></i></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">
                                <div class="noti-row">
                                    <div class="img"><img src="images/profile.jpg" alt=""></div>
                                    <div class="noti-text">Your date has been booked with <span>Lisa</span></div>
                                    <div class="noti-approv">
                                        <div class="noti-approv-tic approv"><i class="fa fa-check" aria-hidden="true"></i></div>
                                        <div class="noti-approv-tic"><i class="fa fa-times" aria-hidden="true"></i></div>
                                    </div>
                                </div>
                            </a>
                            <a class="dropdown-item" href="#">
                                <div class="noti-row">
                                    <div class="img"><img src="images/profile.jpg" alt=""></div>
                                    <div class="noti-text">Your have mathed with <span>Melinda</span></div>
                                    <div class="noti-approv">
                                        <div class="noti-approv-tic approv"><i class="fa fa-check" aria-hidden="true"></i></div>
                                        <div class="noti-approv-tic "><i class="fa fa-times" aria-hidden="true"></i></div>
                                    </div>
                                </div>
                            </a>
                            <a class="dropdown-item" href="#">
                                <div class="noti-row get-off">
                                    <div class="img"><i class="flava-discount"></i></div>
                                    <div class="noti-text">Use FLAVA20 to get 20% off</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="dropdown profile">
                        <a class="btn dropdown-toggle" data-toggle="dropdown">
                            <img src="images/profile.jpg" alt="">
                            <span class="name">David</span>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#"><span>Profile Settings</span></a>
                            <a class="dropdown-item" href="#"><span>Logout</span></a>
                        </div>
                    </div>
                    <a href="#" class="go-premium go-premium-desktop">go premium</a>
                </div>
            </nav>
        </div>
    </header> -->
    <!-- header end -->
    <!-- mid part start -->
    <div class="mid-part">
        <!-- footer link tab menu start -->
        <section>
            <div class="container">
                <div class="footer-link-tab">
                    <ul class="nav nav-pills" id="pills-tab" role="tablist">
                        
                        {% for cms in cmspagesData %}

                            <li class="nav-item">
                                {% if cmsSlug == cms.slug %}
                                    {% if cms.slug != 'our_other_apps' %}
                                        <a class="nav-link active" id="{{cms.slug}}-tab" data-toggle="pill" href="#{{cms.slug}}" role="tab" aria-controls="{{cms.slug}}" aria-selected="false">{{cms.title}}</a>
                                    {% endif %}
                                {% else %}
                                    {% if cms.slug != 'our_other_apps' %}
                                        <a class="nav-link" id="{{cms.slug}}-tab" data-toggle="pill" href="#{{cms.slug}}" role="tab" aria-controls="{{cms.slug}}" aria-selected="false">{{cms.title}}</a>
                                    {% endif %}
                                {% endif %}
                            </li>

                        {% endfor %}

                        <!-- <li class="nav-item">
                            {% if cmsSlug == "terms_condition" %}
                                <a class="nav-link active" id="terms-condition-tab" data-toggle="pill" href="#terms-condition" role="tab" aria-controls="terms-condition" aria-selected="false">Terms & Condition</a>
                            {% else %}
                                <a class="nav-link" id="terms-condition-tab" data-toggle="pill" href="#terms-condition" role="tab" aria-controls="terms-condition" aria-selected="false">Terms & Condition</a>
                            {% endif %}
                        </li>
                        <li class="nav-item">
                            {% if cmsSlug == "about_us" %} 
                                <a class="nav-link active" id="aboutUs-tab" data-toggle="pill" href="#aboutUs" role="tab" aria-controls="aboutUs" aria-selected="false">About Us</a>
                            {% else %}
                                <a class="nav-link" id="aboutUs-tab" data-toggle="pill" href="#aboutUs" role="tab" aria-controls="aboutUs" aria-selected="false">About Us</a>
                            {% endif %}
                        </li>
                        <li class="nav-item">
                            {% if cmsSlug == "privacy_policy" %} 
                                <a class="nav-link active" id="privacy-policy-tab" data-toggle="pill" href="#privacy-policy" role="tab" aria-controls="privacy-policy" aria-selected="false">Privacy Policy</a>
                            {% else %}
                                <a class="nav-link" id="privacy-policy-tab" data-toggle="pill" href="#privacy-policy" role="tab" aria-controls="privacy-policy" aria-selected="false">Privacy Policy</a>
                            {% endif %}
                        </li> -->
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                            <!-- slug dating_tips -->

                        {% for cms in cmspagesData %}

                            {% if cmsSlug == cms.slug %}     
                                {% if cms.slug != 'our_other_apps' %}
                                    <div class="tab-pane fade show active" id="{{cms.slug}}" role="tabpanel" aria-labelledby="{{cms.slug}}-tab">
                                        <p>{{cms.description | safe}}</p>
                                    </div>
                                {% endif %}
                            {% else %}
                                {% if cms.slug != 'our_other_apps' %}
                                    <div class="tab-pane fade" id="{{cms.slug}}" role="tabpanel" aria-labelledby="{{cms.slug}}-tab">
                                        <p>{{cms.description | safe}}</p>
                                    </div>
                                {% endif %}
                            {% endif %}

                        {% endfor %}

                        <!-- {% if cmsSlug == "terms_condition" %}
                            <div class="tab-pane fade show active" id="terms-condition" role="tabpanel" aria-labelledby="terms-condition-tab">
                                {% for data in cmspagesData %} 
                                    {% if data.slug == "terms_and_condition" %} 
                                        <p>{{data.description | safe}}</p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="tab-pane fade" id="terms-condition" role="tabpanel" aria-labelledby="terms-condition-tab">
                                    {% for data in cmspagesData %} 
                                        {% if data.slug == "terms_and_condition" %} 
                                            <p>{{data.description | safe}}</p>
                                        {% endif %}
                                    {% endfor %}
                            </div>
                        {% endif %}
                        {% if cmsSlug == "about_us" %} 
                            <div class="tab-pane fade show active" id="aboutUs" role="tabpanel" aria-labelledby="aboutUs-tab">
                                {% for data in cmspagesData %} 
                                    {% if data.slug == "about_us" %} 
                                        <p>{{data.description | safe}}</p>
                                    {% endif %}
                                {% endfor %} 
                            </div>
                        {% else %}
                            <div class="tab-pane fade" id="aboutUs" role="tabpanel" aria-labelledby="aboutUs-tab">
                                {% for data in cmspagesData %} 
                                    {% if data.slug == "about_us" %} 
                                        <p>{{data.description | safe}}</p>
                                    {% endif %}
                                {% endfor %} 
                            </div>
                        {% endif %}
                        {% if cmsSlug == "privacy_policy" %} 
                            <div class="tab-pane fade show active" id="privacy-policy" role="tabpanel" aria-labelledby="privacy-policy-tab">
                                {% for data in cmspagesData %} 
                                    {% if data.slug == "privacy_policy" %} 
                                        <p>{{data.description | safe}}</p>
                                    {% endif %}
                                {% endfor %}                        
                            </div>
                        {% else %}
                            <div class="tab-pane fade" id="privacy-policy" role="tabpanel" aria-labelledby="privacy-policy-tab">
                                {% for data in cmspagesData %} 
                                    {% if data.slug == "privacy_policy" %} 
                                        <p>{{data.description | safe}}</p>
                                    {% endif %}
                                {% endfor %}                        
                            </div>
                        {% endif %} -->
                    </div>
                </div>
            </div>
        </section>
        <!-- footer link tab menu end -->
    </div>
    <!-- mid part end -->
    <!-- footer start -->
    <!-- <footer>
        <div class="container">
            <div class="foo-logo"><img src="images/logo.jpg" alt=""></div>
            <div class="app-btn">
                <a href="#"><img src="images/google-play.png" alt=""></a>
                <a href="#"><img src="images/app-store.png" alt=""></a>
            </div>
            <ul class="foo-link">
                <li><a href="#">Dating Tip</a></li>
                <li><a href="#">Terms and Condition</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Our Other Apps</a></li>
            </ul>
            <div class="copy-right">Copyright 2022 ©easydate</div>
        </div>
    </footer> -->
    <!-- footer end -->
    {% endblock %}

    {% block Jscript %}

    <!-- <script type="text/javascript" src="/web/js/jquery.min.js"></script>
    <script type="text/javascript" src="/web/js/popper.min.js"></script>
    {# <script type="text/javascript" src="/web/js/bootstrap.min.js"></script> #}
    <script type="text/javascript" src="/web/js/moment.js"></script> -->
    <!-- profile-list-slider start -->
    <script>
        $('.profile-list-slider').slick({
                    autoplay: true,
                    infinite: true,
                    slidesToShow: 4,
                    slidesToScroll: 4,
                    arrows: true,
                    dots: false,
                    responsive: [
                {
                breakpoint: 991,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 3,
                }
                },
                {
                breakpoint: 768,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2,
                }
                },
                {
                breakpoint: 575,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 1
                }
                },
                {
                breakpoint: 480,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    dots: false,
                }
                }
            
            ]
        });
    </script>
    <!-- profile-list-slider end -->

    <!-- trust-score-slider start -->
    <script>
        $('.trust-score-slider').slick({
                    autoplay: true,
                    infinite: true,
                    slidesToShow: 4,
                    slidesToScroll: 4,
                    arrows: true,
                    dots: false,
                    responsive: [
                {
                breakpoint: 991,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 3,
                }
                },
                {
                breakpoint: 768,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2,
                }
                },
                {
                breakpoint: 575,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 1
                }
                },
                {
                breakpoint: 480,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    dots: false,
                }
                }
            
            ]
        });
    </script>
    <!-- trust-score-slider end -->
    
   
    <!-- testimonial slider start -->
    <script>
        $('.testi-slider').slick({
            autoplay: true,
            autoplaySpeed: 2000,
            infinite: true,
        });
    </script>
    {% endblock %}
</body>

</html>